<link href='http://fonts.googleapis.com/css?family=Lato|Ubuntu|Indie+Flower' rel='stylesheet' type='text/css'>

<p class="magicSentence">Add Zone</p>
<center>
	<div class="box">
	<% @networksToAdd.each do |network| %>
	<%= link_to(user_omniauth_authorize_path(network.to_sym)) do %>
	<div class="buttonBox">
		<button class="button"><%= network %></button>
	</div>
	<% end %>
	<% end %>
</div>
</center>

