You don't have any zone, add one ... <br />

<% @zonesUserCanAdd.each do |zone| %>
	<div>
		<%= form_for @newzone do |f| %>
		    <%= hidden_field_tag 'zone', zone  %>
			<%= f.submit zone, class: "socialbutton" %>
		<% end %>
	</div>
<% end %>