@font-face {
	font-family: 'icomoon';
	src:url('/fonts/icomoon.eot?wjimi');
	src:url('/fonts/icomoon.eot?#iefixwjimi') format('embedded-opentype'),
		url('/fonts/icomoon.woff?wjimi') format('woff'),
		url('/fonts/icomoon.ttf?wjimi') format('truetype'),
		url('/fonts/icomoon.svg?wjimi#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-gmail:before {
	content: "\e600";
}
.icon-home:before {
	content: "\e601";
}
.icon-newspaper:before {
	content: "\e607";
}
.icon-image:before {
	content: "\e608";
}
.icon-play:before {
	content: "\e609";
}
.icon-film:before {
	content: "\e60a";
}
.icon-users:before {
	content: "\e602";
}
.icon-settings:before {
	content: "\e603";
}
.icon-cloud-upload:before {
	content: "\e60b";
}
.icon-plus:before {
	content: "\e604";
}
.icon-mail:before {
	content: "\e60c";
}
.icon-googleplus:before {
	content: "\e605";
}
.icon-twitter:before {
	content: "\e606";
}
.icon-paperplane:before {
	content: "\e60d";
}


.aside {
	width				:70px;
	background-color	:#412E66;
	text-align			:justify;
	position			:fixed; 
	height 				:100%;
}
.asideButtonBox{
	max-height			:50px;
	padding-left		:5px;
	padding-top 		:2px;
}
.asidebutton:hover {
	border-right		:5px solid #EAE0F7 ;
}
.aside-internal-button{
	color 				:#B399CF;
	width 				:100%;
	font-size			:40px; 
}
.aside-internal-button:hover{
	color 				:#EAE0F7;

}
.activeAside{
	border-right		:5px solid #B399CF;
}
.asideContent{
	padding-top			:9vh;
	padding-left		:6px;
}
.icon-settings{
	bottom: 8px;
	position: absolute;
	font-size: 40px;
	color: #B399CF;
	width: 233px;
}
.li{
	display				:inline-block;
}
.ul{
	
	display				:none;
}
.visible{
	border-left			:4px solid #B399CF;
	position			:absolute;
	margin-left			:59px;
	background-color	:#412E66;
	bottom				:0px;
	width 				:155px;
	border-radius		:5px;
	border-radius		:0px 15px 15px 0px;
}
hr{
	width				:95%;
}
li {

	font-size 			:20px;
	margin-left			:5px;
}
li a{
	color 				:#B399CF;
	text-decoration		:none;
}