.box{
	height 				:100%;
	overflow			:auto; 
	background-color	:#B399CF;	 
	margin-left			:70px; 
}
.miniBox{	
	width				:360px;
	height				:100%;
	display				:inline-block;


}
.miniboxHeader{
	height				:7vh;
	font-size			:20px;
	font-weight			:bolder;
	color 				:#B399CF;
	padding-top			:2vh;
	text-align			:center;
	border-bottom		:4px solid #B399CF  

}
.miniboxBody{
	overflow			:auto; 
	height				:90vh;
	background-color	:white;
	word-break			:break-word;

}
.headerIcon{
	height				:80%;
	width 				:auto;
	position			:absolute;
}
#end {
	height: 20px;
	width: 100px;
}