
@font-face {
  font-family: "iconvault";
  src: url("/fonts/iconvault_885c2b60a1d72f1e55e813ddaada58de.eot");
  src: url("/fonts/iconvault_885c2b60a1d72f1e55e813ddaada58de.eot?#iefix") format("embedded-opentype"),
       url("/fonts/iconvault_885c2b60a1d72f1e55e813ddaada58de.woff") format("woff"),
       url("/fonts/iconvault_885c2b60a1d72f1e55e813ddaada58de.ttf") format("truetype"),
       url("/fonts/iconvault_885c2b60a1d72f1e55e813ddaada58de.svg#iconvault") format("svg");
  font-weight: normal;
  font-style: normal;
}

.icon-gmail:before,
.icon-plus:before,
.icon-twitter:before {
  font-family: "iconvault";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  display: inline-block;
  text-decoration: inherit;
}

.icon-gmail:before { content: "\f100";
font-size: 45px;
margin-left: 10px;
 }
.icon-plus:before { content: "\f101"; }
.icon-twitter:before { content: "\f102"; }


/*__________________________________________________________________________________*/
span{
	display:inline-block;
}
/*********************************SUPERHEADER****************************************************/
.superHeader {
 	text-align			: center;
 	font-family			:'Coming Soon', cursive;
	background-color	:#6441a5;
	height				:10%;
	top 				:0px;
	width 				:100%;
	right 				:0px;
	position			:fixed !important;
}
/*********************************ASIDE*****************************************************/
.aside {
	width				:5%;
	background-color	:#6441a5;
	text-align			:justify;
	position			:fixed; 
	height 				:90%;
	bottom				:0px;
}
.asidebutton{
	max-height			: 50px;
}
.asidebutton:hover {
	border-right		: 5px solid #EAE0F7 !important;
}
.aside-internal-button{
	color 				: #B399CF;
	width: 100%;
}
.aside-internal-button:hover{
	color 				: #EAE0F7;

}
/*********************************CENTRALBOX***************************************************/
.box{
	position			:fixed;
	width 				:95%;
	right 				:0px;
	bottom 				:0px;
	height 				:90%;
	overflow			:auto; 
	background-color	:white; 
}
.miniBox{	
	width				:360px;
	height				:98%;
	display				:inline-block;
	float				:left;


}
.miniboxHeader{
	height				:10%;
	font-size			:20px;
	font-weight			:bolder;
	background-color	:white; 

}
.miniboxBody{
	overflow			:auto; 
	overflow-x			:hidden;
	height				:90%
}
.headerIcon{
	height				:80%;
	width 				:auto;
	position:absolute;
}
.scrollBar::-webkit-scrollbar{
	width 				: 10px;
	border-radius		:20vw;
	background-color	:white;  
}
.scrollBar::-webkit-scrollbar-thumb {
	width 				: 20px;
	background-color 	:rgba(120, 164, 240, 0.94);
	border-radius		:20vw; 
	-webkit-transition: background-color 1s; 
}
.scrollBar::-webkit-scrollbar-thumb:hover {
	background-color	:rgba(66, 135, 255, 1); 	

}

/*********************************TWITTTER*****************************************************/
.twitterHeader{
		background-color	:#5d3c99;
		border-bottom		:4px solid #8868c4  
}
.tweet{
	position			:static;
	background-color	:white; 
 	font-family			:Arial,Verdana,sans-serif;
 	margin 				:2px;
 	padding				:6px;
 	min-height			:60px ;
 	line-height			:1.28578;
 	width				:336px;
}
.tweetBody{
	display				:inline-block;
}

.tweetImage{
	border-radius		:15%;
	height				:45px; 
}
.tweetImageBox{
	width				:45px;
	float				:left;
	margin-right		:4px;
	display				:inline-block;

}
.tweetBodyText{
	font-size			:14px;
	text-align			:left; 
	width:250px;
}
.tweetFooter{
	height:10%;
}
.twittericon{
	width				: 50px;
	height			: 42px;
	background-image	: url("/twitterduo.png");
	background-size		: cover;
	background-repeat	: none;
	margin 				:6px;
}
.twittericon:hover{
	background-position	: 0px 42px;
}
.tweetAuthor{
 	
	font-size			:13px; 
	font-weight			:bold; 
	overflow 			:hidden;
	text-overflow		:ellipsis;
	max-width			:280px;
}
.username{
	font-weight			:normal;
	display				:inline-block; 
	overflow 			:hidden;
	text-overflow		:ellipsis;
	max-width			:130px;
}
.retweeter{
	font-size			:12px; 
}
/*********************************TWITTTER****************************************************/

.active_top{
	border-bottom: 5px solid #B399CF;
}
.active_left{
	border-right: 5px solid #B399CF;
}